body {
    font-family: 'Roboto', sans-serif;

}

/* Navbar styling */
.navbar-nav .nav-link {
    color: black;
    margin: 0 10px; /* Augmentation de l'espacement entre les éléments */
}

.navbar-nav .nav-link:hover {
    color: #A22280;
}

/* Demi-cercle */
.half-circle {
    position: relative;
    overflow: hidden;
    width: 850px;
    height: 390px; /* Demi-hauteur */
    background-color: #A22280;
    border-top-left-radius: 425px;
    border-top-right-radius: 425px;
}

/* Image à l'intérieur du demi-cercle */
img.position-absolute {
    width: 455px;
    height: 455px;
    top: -60px; /* Ajustement pour que l'image dépasse légèrement */
   justify-content: center;
}

/* Espacement des éléments du menu */
.navbar-nav .nav-link {
    margin: 0 20px; /* Augmenter l'espacement */
}
.btn btn-warning{
    width: 50px;
}
/* Styling for the About section */

/* Rectangle gris */
#about .col-12 {
    position: relative;
    padding: 50px;
    background-color: #D9D9D9;
    border-radius: 50px;
    overflow: hidden;
}

/* Rectangle jaune à gauche */
.yellow-box {
    background-color: #FFC107;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 20px;
    width: 33%;
    height: 100%;
    position: absolute;
    left: 0;
}

/* Image positionnée sur le rectangle jaune */
#about img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    top: 30px;
    left: 20px;
}

/* Styling du texte et du bouton */
#about h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#about p {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
}

#about a {
    background-color: #A22280;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
}

/* Trait jaune sous le titre */
hr {
    width: 80px;
    height: 4px;
    background-color: #FFC107;
    margin-bottom: 20px;
}

/* Petite bordure violette */
.border-bottom {
    background-color: #A22280;
    height: 5px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
